
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'sell-icon';
  src:  url('../fonts/sell-icon.eot?yyrqis');
  src:  url('../fonts/sell-icon.eot?yyrqis#iefix') format('embedded-opentype'),
    url('../fonts/sell-icon.ttf?yyrqis') format('truetype'),
    url('../fonts/sell-icon.woff?yyrqis') format('woff'),
    url('../fonts/sell-icon.svg?yyrqis#sell-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-new-message:before {
  content: "\e900";
}
.icon-quill:before {
  content: "\e907";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-user:before {
  content: "\e971";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}

*,
ul,
h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  position: relative;
  min-height: 100%;
}

.header {
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: .5rem 1rem;
  box-shadow: 0px 1px 11px 2px rgba(112, 112, 112, 0.1);
  margin-bottom: 40px;
  border-top: 2px solid rgba(112, 112, 112, 0.1);

  &__logo {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 800;
  }

  &__right {
    flex: 0 1 30%;
  }

  &__list {
    list-style: none;
    margin: 0 1.5rem;
    position: relative;
  }

  &__link {
    font-weight: 600;
  }

  &__nav {
    display: flex;
    justify-content: center;
    margin: 0;
    // position: absolute;
    // z-index: 2;

    &--category {
      margin-right: auto;
      margin-left: 1rem;
      // padding: 1rem 0;

      .header__list {
        margin: 0 .5rem;
        padding: 0 .5rem;
      }

      .header__link {
        line-height: 3.5rem;
      }

      .active {
        background: rgb(209, 206, 206);
        
        .header__link {
          color: white;
        }
      }
    }
  }

  &__img {
    border-radius: 50%;
  }
}

body {
  margin-bottom: 60px;
}

.footer {
  display: flex;
  justify-content: space-around;
  background: rgb(46, 41, 41);
  color: white;
  padding: .5rem 0;

  position: absolute;
  bottom: 0;
  width: 100%;
}

.captcha {
  // display: block;
  margin-top: .5rem;
  cursor: pointer;
  padding: 5px;
  border: 1px solid grey;
}

.info-container {
  display: flex;
  justify-content: space-between;
  
  &__item {
    padding: 1rem .5rem;
    background: white;

    &:not(:last-child) {
      border-bottom: 1px solid grey;
    }
  }
}

.left {
  flex: 0 1 20%;
  border: 1px solid grey;
  padding: 1rem .5rem;
  background: white;

  &__img {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.right {
  flex: 0 1 75%;

  &__header,
  &__content {
    border: 1px solid grey;
  }

  &__header {
    margin-bottom: 1rem;

    h2 {
      margin: 0;
    }
  }
}

.media-list {

}

.media {
  margin-bottom: 1rem;

  &:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
  }

  &__body {
    width: 100%;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
  }

  &__reply-count {
    padding: .2rem 1rem;
    background: rgb(187, 180, 180);
    color: white;
    border-radius: 50px;
  }

  &__left {
    margin-right: 1rem;
  }

  &__avatar {
    width: 52px;
    height: 52px;
  }

  &__content {
    a {
      color: rgb(187, 180, 180);
    }
  }

  &__time,
  &__icon {
    color: rgb(187, 180, 180);
  }

  &__span {
    margin: 0 .3rem;
  }
}